# Practical - 6: Write a Pandas program to implement following operation

### • to convert a NumPy array to a Pandas series

In [ ]:
# Name : Dharmik M Kukadiya
# Enrollment No : 216270307003

import pandas as pd

import numpy as np

s = pd.Series();
print("Pandas series :- ",s)

d = np.array(['D','h','a','r','m','i','k'])

s = pd.Series(d)
print("Panda series :- \n",s)

### • to convert the first column of a DataFrame as a Series

In [ ]:
# Name : Dharmik M Kukadiya
# Enrollment No : 216270307003

import pandas as pd

d = pd.DataFrame()
print(d)

l = ['Dharmik','M','Kukadiya']

d = pd.DataFrame(l)

print("DataFrame")
print(d)

### • to create the mean and standard deviation of the data of a given Series

In [ ]:
# Name : Dharmik M Kukadiya
# Enrollment No : 216270307003

import pandas as pd

s = pd.Series(data = [5, 9, 8, 5, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3])
print("Original series :- ",s)

a = s.mean();
print("Mean elements :- ",a)

b = s.std();
print("Standard deviation :- ",b)

### • to sort a given Series

In [ ]:
# Name : Dharmik M Kukadiya
# Enrollment No : 216270307003

import pandas as pd

s = pd.Series([9.5, 16.8, 22.78, 20.124, 18.1002])
print(s)

a = s.sort_values(ascending = True)
print(a)